.header-contacts {
  @include flex-v-center;

  &__link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include tablet {
      display: none;
    }

    &--nav {
      display: none;

      @include tablet {
        display: block;
      }
    }

    &:focus {
      outline: 2px solid var(--primary-color);
      outline-offset: 2px;
    }

    &:hover {
      color: var(--primary-color);
    }

    &:active {
      color: var(--active-color);
    }

    &:not(:last-child) {
      margin-right: 36px;
    }
  }
}

.contacts-link {
  padding-left: 52px;
  background-position: left center;
  background-size: 40px 40px;
  background-repeat: no-repeat;

  &__caption {
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-color);
  }

  &__value {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--ebony-color);
    transition: color 0.3s ease-in-out;

    &:focus {
      outline: 2px solid var(--primary-color);
      outline-offset: 2px;
    }

    &:hover {
      color: var(--primary-color);
    }

    &:active {
      color: var(--active-color);
    }
  }

  &--call {
    background-image: url("../img/phone.svg");
  }

  &--mail {
    background-image: url("../img/mail.svg");
  }
}
