.page-hero {
  padding-top: 153px;
  padding-bottom: 80px;
  min-height: 600px;
  background-position: right -8px top;
  background-color: #f4f5f7;
  background-image: url("../img/services-hero-bg.png");
  background-position: right -8px top;
  background-repeat: no-repeat;

  &__breadcrumbs {
    margin-bottom: 40px;
  }

  &__title {
    margin: 0;
    margin-bottom: 24px;
    max-width: 600px;
    font-weight: 700;
    font-size: 72px;
    line-height: 130%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--ebony-color);

    &--small {
      font-size: 64px;
      line-height: 120%;
      letter-spacing: 1px;
      text-transform: initial;
    }

    &--mb {
      margin-bottom: 60px;
    }
  }

  &__descr {
    margin: 0;
    max-width: 600px;
    font-size: 20px;
    line-height: 150%;
    color: var(--stormgray-color);
  }

  &--services {
    background-image: url("../img/services-1-hero-bg.png");

  }

  &--services-inner {
    background-image: url("../img/services-1-hero-bg.png");
  }

  &--work {
    background-image: url("../img/work-hero-bg.png");
  }

  &--work-inner {
    background-color: var(--light-color);
    background-position: right -8px top 48px;
    background-image: url("../img/hero-work-bg.png");
  }

  &--about {
    background-color: var(--light-color);
    background-image: url("../img/about-bg.png");
  }

  &--positions {
    background-position: right -9px bottom;
    background-color: var(--light-color);
    background-image: url("../img/hero-positions.png");
  }
}
