html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.main-title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 72px;
  line-height: 130%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--ebony-color);

  span {
    color: var(--primary-color);
  }

  &--home {
    color: var(--light-color);
  }
}

.main-descr {
  margin: 0;
  font-size: 20px;
  line-height: 150%;
  color: var(--stormgray-color);

  &--home {
    margin-bottom: 61px;
    color: var(--light-color);
  }
}

.btn {
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  border-radius: 4px;
  padding: 15px 39px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: var(--light-color);

  &--fill {
    background-color: var(--primary-color);
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: var(--red-color);
    }
  }

  &--stroke {
    transition: background-color 0.3s ease-in-out;

    &-light {
      color: var(--light-color);
      border-color: var(--light-color);

      &:hover {
        border-color: var(--primary-color);
        background-color: var(--primary-color)
      }
    }

    &-primary {
      border-color: var(--primary-color);
      color: var(--primary-color);
    }
  }
}

.title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  color: var(--ebony-color);

  &-center {
    text-align: center;
  }
}

.descr {
  margin: 0;
  margin-bottom: 60px;
  font-size: 18px;
  line-height: 150%;
  color: var(--stormgray-color);

  &-center {
    text-align: center;
  }
}

.section-offset {
  padding-top: 120px;
}

.centered {
  width: 100%;
  text-align: center;
}

.costum-checkbox {

  &__input {
    position: absolute;
    opacity: 0;
  }

  &__text {
    display: inline-block;
    position: relative;
    padding-left: 27px;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-color);
  }

  &__text::before {
    content: "";
    position: absolute;
    left: -1px;
    top: 1px;
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid var(--primary-color);
    border-radius: 3px;
    transition: background-color 0.3s ease-in-out;
  }

  &__text::after {
    content: "";
    position: absolute;
    left: -1px;
    top: 1px;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../img/check.svg);
    background-position: center;
    background-size: 10px 8px;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  &__input:checked + &__text::before {
    background-color: var(--primary-color);
  }

  &__input:checked + &__text::after {
    opacity: 1;
  }
}


.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
}
