// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Ubuntu", sans-serif;
  --content-width: 1230px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
  --gray-color: #424551;
  --ebony-color: #1e212c;
  --stormgray-color: #787a80;
  --primary-color: #ff5a30;
  --red-color: #fc3300;
  --active-color: #fc3300;


  //speed
  --hero-slider-speed: 500;


  //sizes
  --grid-gap: 30px;
}
