// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Ubuntu", sans-serif;
  --content-width: 1230px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
  --gray-color: #424551;
  --ebony-color: #1e212c;
  --stormgray-color: #787a80;
  --primary-color: #ff5a30;
  --red-color: #fc3300;
  --active-color: #fc3300;


  //speed
  --hero-slider-speed: 500;


  //sizes
  --grid-gap: 30px;

  //boxshadow

  --main-shadow:
    0 80px 80px -20px rgba(154, 156, 165, 0.08),
    0 30px 24px -10px rgba(154, 156, 165, 0.05),
    0 12px 10px -6px rgba(154, 156, 165, 0.04),
    0 4px 4px -4px rgba(30, 33, 44, 0.03);
}
