// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

//компонентов страницы
@import "./components/slider-nav";
@import "./components/form-field";


// подключения компонентов страницы
@import "./components/header";
@import "./components/hero";
@import "./components/about-section";
@import "./components/mission";
@import "./components/services-section";
@import "./components/portfolio-section";
@import "./components/partners";
@import "./components/testimonials";
@import "./components/facts";
@import "./components/reset-news";
@import "./components/contacts-section";
@import "./components/footer";
@import "./components/hero-services";
@import "./components/services-content";

// подключения компонентов страницы малинкие компоненты
@import "./components/nav";
@import "./components/header-contacts";
@import "./components/video-block";
@import "./components/breadcrumbs";
@import "./components/learn-more";
@import "./components/social";
